[Unit]

Requires=db.service
After=db.service

[Container]

Image=docker.io/postgrest/postgrest@sha256:ec0e25a4e24b0a3bc5e4f011369bfc736bd1b19f513bd01079b86329a7636962
Environment=PGRST_DB_URI=postgres://authenticator:boxferry-public-supabase-db-password@db:5432/postgres
Environment=PGRST_DB_SCHEMAS=public
Network=backend.network
