[Container]
Image=docker.io/valkey/valkey@sha256:a0dbf4c1d5708782907c10e2c72deff317518518b5288a58416981d9db95d30b
Volume=redisdata.volume:/data
Network=backend.network
ContainerName=broker
